@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e0e0e0;
}
.neubox {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}
.neuboxsm {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}
button {
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
button:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 8px #c5c5c5, -4px -4px 8px #ffffff;
}
button:active {
  color: #666;
  box-shadow: 0px 0px 0px #c5c5c5, 0px 0px 0px #ffffff,
    inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
